<form class="example-form">
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "name" name="name" matInput placeholder="First Name" >
        <mat-hint>Your first name</mat-hint>
      </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [(ngModel)] = "email" name="name" matInput placeholder="Email" >
    <mat-hint>Please enter your email</mat-hint>
  </mat-form-field>
  <p class = "error" *ngIf = "error.code =='auth/invalid-email'">{{error.message}}</p>
  <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name="name" matInput placeholder="Password" >
      <mat-hint>Your Password</mat-hint>
    </mat-form-field>
    <p class = "error" *ngIf = "error.code =='auth/weak-password'">{{error.message}}</p>
    <button mat-raised-button  (click)="signup()">Click to register</button>
</form>