<div>
<mat-form-field>
  <input [(ngModel)] = "email" name="name" matInput placeholder="Email" >
  <mat-hint>Please enter your email</mat-hint>
</mat-form-field>
</div>
<div>
  <mat-form-field>
    <input [(ngModel)] = "password" name="name" matInput placeholder="Password" >
    <mat-hint>Please enter your email</mat-hint>
  </mat-form-field>
  </div>
  <div>
  <button mat-raised-button  (click)="login()">Login</button>
  </div>