<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()">
<!-- {{text}} <button mat-raided-button (click) = "delete()"
  *ngIf = "showTheButton"> Delete </button>-->
  <span *ngIf = "!showEditField" (click) = "showEdit()">{{text}}</span><!--מתוך הקובץ ts-->
    <mat-form-field *ngIf = "showEditField" >
     <input [(ngModel)] = "text" matInput>
    
    </mat-form-field>    <button *ngIf = "showEditField" mat-raised-button (click)="save()">Save</button>
    <button mat-raised-button
    (click) ="delete()"
    *ngIf = "showTheButton" >
    Delete
   </button>
   <button *ngIf = "showEditField" mat-raised-button (click)="cancel()">Cancel</button>
</li>
